<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	    <title th:text="#{titulo.coches}"></title>
		<link rel="stylesheet" type="text/css" href="css/estilos.css">
	</head>
	
	<body>
		<h1 th:text="#{titulo.coches}"></h1>
		
		<div th:if="${coches.isEmpty()}">
			<p th:text="#{message.noHayCoches}"></p>
		</div>
		
		<div th:unless="${coches.isEmpty()}">
			<table>
				<tr>
					<th th:text="#{coche.marca}"></th>
					<th th:text="#{coche.modelo}"></th>
					<th th:text="#{coche.ano}"></th>
					<th th:text="#{coche.precio}"></th>
					<th th:text="#{coche.fuenteEnergia}"></th>
				</tr>
				
				<tr th:each="coche : ${coches}">
					<td th:text="${coche.marca}"></td>
					<td th:text="${coche.modelo}"></td>
					<td th:text="${coche.ano}"></td>
					<td th:text="${coche.precio}"></td>
					<td th:text="${coche.fuenteEnergia}"></td>
				</tr>
			</table>
		</div>
	</body>
</html>